* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #053d57;
}
h1,
p {
  text-align: center;
  color: #fff;
}
h1 {
  font-size: 4em;
}
h1 span.first {
  color: #5ce1e6;
}
h1 span.second {
  color: #7ed957;
}
div.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
